<%= javascript_pack_tag 'hello_react' %>
<div class="c-sidebar">
  <!-- Sidebar content here -->
</div>
<div class="c-wrapper">
  <header class="c-header">
    <!-- Header content here -->
  </header>
  <div class="c-body">
    <main class="c-main" id="myReact">
    </main>
  </div>
  <footer class="c-footer">
    <!-- Footer content here -->
  </footer>
</div>
