<div>
  <%= @cpbl_player.name %>
</div>
<div>
  Game Log
</div>
<% if @cpbl_player.pitcher? %>
  <%= render 'players/shared/pitching_game_log', cpbl_player: @cpbl_player, player_game_logs: @player_game_logs %>
<% else %>
  <%= render 'players/shared/hitting_game_log', cpbl_player: @cpbl_player, player_game_logs: @player_game_logs %>
<% end %>
